<div class="add_role_modal">
    <div class="modal_container">
        <span class="modal_container_close">&times;</span>
        <h3 class="p-1">Role Form</h3>
        <hr style="border: 1px solid red;">
        <form action=" " method="post" id="post_role" enctype="multipart/formdata">
            {% csrf_token %}
            <fieldset>
                <!-- Text input-->
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" placeholder="Enter Role Name">
                </div>
                <button type="submit" class="btn btn-primary mt-3">Submit</button>

            </fieldset>
        </form>
    </div>
</div>