<div class="staffdetail_modal">
    <div class="modal_container">
        <span class="modal_container_close">&times;</span>
        <h3 class="p-1">Add Staff Details</h3>
        <hr style="border: 1px solid red;">
        <form action=" " method="post" id="post_data" enctype="multipart/formdata">
            <fieldset>
                <!-- Text input-->
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Name</label>
                            <div class="inputGroupContainer">
                                <div class="input-group">
                                    <input name="name" placeholder="Name" class="form-control" type="text">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Email</label>
                            <div class="inputGroupContainer">
                                <div class="input-group">
                                    <input name="email" placeholder="Email" class="form-control" type="email">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Phone</label>
                            <div class="inputGroupContainer">
                                <div class="input-group">
                                    <input name="phone" placeholder="(+977)" class="form-control" type="text">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class=" control-label">Role</label>
                            <div class=" inputGroupContainer">
                                <div class="input-group">
                                    <input name="role" placeholder="Role" class="form-control" type="text">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class=" control-label">Specilist</label>
                            <div class=" inputGroupContainer">
                                <div class="input-group">
                                    <input name="specilist" placeholder="Specilist" class="form-control" type="text">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">District</label>
                            <div class="inputGroupContainer">
                                <div class="input-group">
                                    <input name="district" placeholder="District" class="form-control" type="text">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">City</label>
                            <div class=" inputGroupContainer">
                                <div class="input-group">

                                    <input name="city" placeholder="City" class="form-control" type="text">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Ward</label>
                            <div class=" inputGroupContainer">
                                <div class="input-group">
                                    <input name="ward" placeholder="Ward" class="form-control" type="number">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label"></label>
                    <div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button class="btn btn-secondary" type="reset">Reset</button>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>
</div>