<div class="all_invoice_modal">
    <div class="modal_container">
        <span class="modal_container_close">&times;</span>
        <h3 class="p-1">All Invoice's</h3>
        <hr style="border: 1px solid red;">
        <form action=" " method="post" id="post_data" enctype="multipart/formdata">
            <fieldset>
                <!-- Text input-->
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">S.N</th>
                            <th scope="col">Invoice ID</th>
                        </tr>
                    </thead>
                    <tbody style="border: 1px solid black">
                        <tr>
                            <th scope="row" style="border: 1px solid black">1</th>
                            <td style="border: 1px solid black"><a href="#">10293</a></td>
                        </tr>
                        <tr>
                            <th scope="row" style="border: 1px solid black">2</th>
                            <td style="border: 1px solid black"><a href="#">23493</a></td>
                        </tr>
                        <tr>
                            <th scope="row" style="border: 1px solid black">3</th>
                            <td style="border: 1px solid black"><a href="#">12445</a></td>
                        </tr>
                    </tbody>
                </table>

            </fieldset>
        </form>
    </div>
</div>