{% extends 'outsideBase.html' %}
{% load static %}

{% block login %}
<!-- Outer Row -->
<div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                            </div>
                            <form class="ibox-body" id="login-form" action="{% url 'index' %}" method="POST">
                                {% csrf_token %}
                                {% if messages %}
                                    {% for msg in messages %}
                                        {% if msg.tags == "error" %}
                                            <div class="alert alert-danger" role="alert">
                                                <span class="close_btn">
                                                    <button type="button" class="close" data-dismiss="alert"
                                                        aria-hidden="true"></button>
                                                </span>
                                                    {{ msg }}
                                                </div>
                                        {% elif msg.tags == "success" %}
                                            <div class="alert alert-success" role="alert">
                                                <span class="close_btn">
                                                    <button type="button" class="close" data-dismiss="alert"
                                                        aria-hidden="true"></button>
                                                </span>
                                                    {{ msg }}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}


                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user"  name="user_name" placeholder="Username">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control form-control-user"
                                        id="exampleInputPassword" placeholder="Password" name="password">
                                </div>
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox small">
                                        <input type="checkbox" class="custom-control-input" id="customCheck">
                                        <label class="custom-control-label" for="customCheck">Remember
                                            Me</label>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary btn-user btn-block">
                                    Login
                                </button>
                                <hr>
                                <a href="index.html" class="btn btn-google btn-user btn-block">
                                    <i class="fab fa-google fa-fw"></i> Login with Google
                                </a>
                                <a href="index.html" class="btn btn-facebook btn-user btn-block">
                                    <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
                                </a>
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="{% url 'forgot_password' %}">Forgot Password?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="{% url 'register' %}">Create an Account!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
{% endblock %}

{% block externaljs %}
    <script>
        $(function() {
            $('#login-form').validate({
                errorClass: "help-block",
                rules: {
                    user_name:{
                        required:true,
                        remote:{
                            url:"{% url 'check_login_username' %}",
                            type:"POST",
                            data: {
                                user_name: $('.user_name').val(),
                                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                            },
                        },
                    },
                    password: {
                        required: true,
                        remote:{
                            url:"{% url 'check_user_password' %}",
                            type:"POST",
                            data: {
                                user_name: $('.user_name').val(),
                                password:$('.password').val(),
                                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                            },
                        },
                        
                    }
                },
                messages: {
                    user_name: {
                        remote: "Username doesn't exists."
                    },
                    password: {
                        remote: "Incorrect Password"
                    },

                },
                highlight: function(e) {
                    $(e).closest(".form-group").addClass("has-error")
                },
                unhighlight: function(e) {
                    $(e).closest(".form-group").removeClass("has-error")
                },
            });
        });
    </script>
{% endblock %}